.top-layer{
    background-color: #ED714B;
}

.salsa-layer{
    background-color: #EFD469;
}

.story-layer{
    background-color: #B2BD7E;
}

.signup-layer{
    background-color: #94B9AF;
}

.motto{
    color: whitesmoke;
    text-align: left;
    font-size: 4em;
}

/* id to be used to place side by side */
#side{
    float: left;
}