.flex{
    display: flex;
}

.flex div{
    flex: 1;
    align-self: center;
}

.layer{
    height: 50em;
}


.top-layer{
    background-color: #ED714B;
}

.salsa-layer{
    background-color: #EFD469;
}

.story-layer{
    background-color: #B2BD7E;
}

.signup-layer{
    background-color: #94B9AF;
}

.motto{
    color: whitesmoke;
    text-align: center;    
    font-size: 4em;
}

/* Making a circle */
.theboys{
    border-radius: 50%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#picture{
    height: 25em;
    /* float: left;
    padding-right: 10em; */
}

.centernav{
    align-self: center;
}