{% extends 'bootstrap/base.html' %}

{% block title %}
    Salsa - Home
{% endblock %}

{% block navbar %}
<nav class="navbar">
    <div class="container row justify-content-start">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Salsa</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Our Salsa</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<body>
    Welcome to the Salsa Site!
</body>
{% endblock %}